/* ---------------------------------------------------
    ASIDE STYLE
----------------------------------------------------- */
p
{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus
{
    color: #000;
    font-weight: bolder;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar
{
    padding: 15px 10px;
    background: transparent;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn
{
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line
{
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
aside
{
	box-shadow: unset;
}

aside.show
{
	box-shadow: 0 0 4px 3px lightgray;
}

.wrapper
{
    display: flex;
    width: 100%;
    height: 90vh;
    align-items: stretch;
    overflow: hidden;
}

#sidebar
{
    width: 250px;
    width: 250px;
    color: #fff;
    transition: all .5s;
}

#sidebar.active
{
    margin-left: -250px;
}

#sidebar .sidebar-header
{
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

#sidebar ul.components
{
    padding: 20px 0;
}

#sidebar ul p
{
    color: #fff;
    padding: 10px;
}

#sidebar ul li a
{
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-align: center;
}

#sidebar ul *
{
    box-sizing: border-box;
    transition: all .35s ease;
}

#sidebar ul li
{
    list-style: outside none none;
}

#sidebar ul li a
{
    padding: .5em .8em;
    color: #000;
    position: relative;
    text-decoration: none;
    font-size: 1.15rem;
}

#sidebar ul li a::before,
#sidebar ul li a::after
{
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

#sidebar ul li a::before
{
    content: '';
    left: 0;
    top: 0;
    border-top: 3px solid #2d3436;
    border-left: 3px solid #2d3436;
    transform: translate(-100%, 50%);
}

#sidebar ul li a:after
{
    content: '';
    right: 0;
    bottom: 0;
    border-bottom: 3px solid #2d3436;
    border-right: 3px solid #2d3436;
    transform: translate(100%, -50%);
}

#sidebar ul li a:hover:before,
#sidebar ul li a:hover:after
{
    transform: translate(0,0);
    opacity: 1;
}

#sidebar ul li a:hover
{
    color: #0079B6;
}

a[data-toggle="collapse"]
{
    position: relative;
}

.dropdown-toggle::after
{
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a
{
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs
{
    padding: 20px;
}

ul.CTAs a
{
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download
{
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover
{
    background: #6d7fcc !important;
    color: #fff !important;
}

.show + .general button i:first-child, aside:not(.show) + .general button i:last-child
{
    display: none;
}

.show + .general button i:last-child, aside:not(.show) + .general button i:first-child
{
    display: block;
}

.btn-sidebar
{
    background-color: #0076CE;
    color: #fff;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content
{
    width: 100%;
    padding: 20px;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px)
{
    #sidebar
    {
        margin-left: -250px;
    }
    #sidebar.active
    {
        margin-left: 0;
    }
    #sidebarCollapse span
    {
        display: none;
    }
}
